.navigation {
    margin-top: 253px;
}

.navigation-span {
    font-family: 'Google Sans';
    font-size: 22px;
    font-weight: 500;
    line-height: 25.44px;
    display: block;
    padding: 29px;
    border-radius: 25px 0px 0px 25px;
}

.font-weight-700 {
    font-weight: 700;
}