.welcome {
  font-family: 'Google Sans';
  font-weight: 400;
  line-height: 57.24px;
  color: #42427D;
}

.font-damian {
  font-family: 'Google Sans';
  font-size: 45px;
  font-weight: 700;
  line-height: 57.24px;
  color: #42427D;
}