* {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans';
  margin-bottom: 0;
  box-sizing: border-box;
}

.dashboard-dark {
  background-color: #5840BB;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  display: block;
}

.bg {
  position: relative;
  width: 1528px;
  height: 1031px;
  top: 25px;
  left: 363px;
  border-radius: 60px;
  background-color: #fff;
}

.sales-statistics-chart {
  width: 854px;
  height: 575px;
  margin-top: 250px;
  margin-left: 44px;
}

.h3-sales-statistics {
  font-family: 'Google Sans';
  font-size: 24px;
  font-weight: 700;
  line-height: 30.53px;
  width: 172px;
  height: 31px;
  top: -24px;
  left: 47px;
  position: relative;
  color: #42427D;
  display: inline-block;
}

.retangle-monthly {
  width: 149px;
  height: 52px;
  top: -26px;
  left: 534px;
  position: relative;
  border-radius: 15px 5px 15px 5px;
  border: 1px solid #a3a8aa;
  font-family: 'Google Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 20.35px;
  color: #7979B2;
  ;
}

.logo-span {
  font-family: 'Google Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 38.16px;
  display: block;
  position: absolute;
  top: 86px;
  left: 92px
}

.recharts-legend-item-text {
  color: #fff !important;
}

.recharts-legend-icon{
  display: none;
}

.vector-1 {
  position: absolute;
  top: 239px;
  left: 334px;
}

.vector-2 {
  position: absolute;
  top: 354px;
  left: 334px;
}


