* {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans';
  margin-bottom: 0;
  box-sizing: border-box;
}

.dashboard-dark {
  background-color: #5840BB;
  width: 1920px;
  height: 1080px;
  border-radius: 60px;
  display: block;
}

.dashboard-dark__left {
  width: 20%;
  height: 1031px;
  border-radius: 60px;
  padding-left: 50px;
  padding-top: 60px;
}

.dashboard-dark__right {
  width: 80%;
  height: 1031px;
  border-radius: 60px;
  background-color: #fff;
  padding: 50px 50px 50px 80px;
  display: flex;
}

.dashboard-dark__container-left {
  width: 60%;
  display: block;
  padding-right: 50px;
}

.dashboard-dark__container-right {
  width: 40%;
  display: block;
  padding-left: 50px;
}

.vector-1 {
  position: absolute;
  top: 239px;
  left: 334px;
}

.vector-2 {
  position: absolute;
  top: 354px;
  left: 334px;
}
.recharts-legend-item-text {
  color: #fff !important;
}

.recharts-legend-icon {
  display: none;
}

@media only screen and (max-width: 1230px) {
  .dashboard-dark__left {
    padding-left: 0px;
  }
}